.UserAvatarGroup {
  width: 40px;
  height: 40px;
  position: relative;
}

.UserAvatarGroupImage {
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  position: absolute;
  &:nth-child(1){
    left: 0;
    bottom: 0;
    z-index: 1;
  }
    &:nth-child(2){
        right: 0;
        top: 0;
    }
}