:root {
  --main: #5B19E7;
  --main-background: #FFFFFF;
  --main-text: #0F1419;
  --main-text-light: #212931;
  --main-back: #536471;
  --main-back-50: #EFF3F4;
  --main-back-25: #CFD9DE;
  --secondary-green: #3FB961;
  --secondary-pink: #D900C3;
}


.dark {
  --main: #8f5fff;
  --main-background: #212121;
  --main-text: #e6e6e6;
  --main-text-light: #aab8c2;
  --main-back: #8899a6;
  --main-back-50: #4c4c4c;
  --main-back-25: #9a9a9a;
  --secondary-green: #32cd70;
  --secondary-pink: #f72585;
}